[submodule "hoozz_play_mlx90640"]
	path = hoozz_play_mlx90640
	url = https://github.com/huxiangjs/hoozz_play_mlx90640.git
[submodule "hoozz_play_android"]
	path = hoozz_play_android
	url = https://github.com/huxiangjs/hoozz_play_android.git
[submodule "hoozz_play_esp32c3_remote_switch"]
	path = hoozz_play_esp32c3_remote_switch
	url = https://github.com/huxiangjs/hoozz_play_esp32c3_remote_switch.git
[submodule "hoozz_play_esp32c3_voice_led"]
	path = hoozz_play_esp32c3_voice_led
	url = https://github.com/huxiangjs/hoozz_play_esp32c3_voice_led.git
